__pycache__/
*.py[cod]
*.sqlite3
.env
society_connect/settings/dev.py
society_connect/settings/stage.py
society_connect/settings/prod.py
.venv/
venv/
.pytest_cache/
.coverage
.coverage.*
.ruff_cache/
htmlcov/
node_modules/
frontend/dist/
frontend/.vite/
.DS_Store
frontend/package-lock.json
